<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627112964293-g5lfemcc6mp8rap7kc5pdk3df4lvq5fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627112964293-g5lfemcc6mp8rap7kc5pdk3df4lvq5fr</string>
	<key>API_KEY</key>
	<string>AIzaSyCEmqiahrX6YO4keu-AanDUMmA47YQmHDA</string>
	<key>GCM_SENDER_ID</key>
	<string>627112964293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alangloria.MOPAProject</string>
	<key>PROJECT_ID</key>
	<string>mopaproject-e0766</string>
	<key>STORAGE_BUCKET</key>
	<string>mopaproject-e0766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627112964293:ios:c3a8ccf92f57982e53c0ac</string>
</dict>
</plist>